h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}

h2 {
    color: brown;
    text-align: center;
    padding: 10px;
}

#selection-image{
    display: flex;
    justify-content: center;
}

#show-image{
    display: flex;
    justify-content: center;
    height: 500px;
}

#detect-object{
    display: flex;
    justify-content: center;
}

footer {
    color: brown;
    text-align: center;
    padding: 10px;
}