<!DOCTYPE html>
<html lang="en">

<head>

  <title>Servicio de Object Detection</title>

  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/webapp.css') }}">

  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/webapp.js') }}"></script>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

  <!--
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/webapp.css">

  <script src="/js/jquery-3.5.1.min.js"></script>
  <script src="/js/webapp.js"></script>
  -->

</head>

<body>

  <h1>PROYECTO FINAL</h1>
  <h2>Python para Ciencia de Datos</h2>

  <div class="container-fluid ibm-code">

    <div class="row">

      <div class="col-md-9">
        <div class="col-md-6 title-section">
          <h1>DETECTOR DE OBJETOS</h1>
        </div>
        <div class="col-md-6">
          <div id="image-upload" class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">Subir la imagen</div>
            </div>

            <div class="panel-body">
              <form id="file-upload" enctype="multipart/form-data">
                <div class="form-group">
                  <input id="file-input" type="file" name="image" accept=".png, .jpg, .jpeg, .gif" />
                </div>
                <button id="file-submit" type="submit" class="btn btn-primary">Enviar</button>
                <!--
                <button id="webcam-btn" type="button" class="btn btn-primary" style="float:right;">Usar tu camara</button>
                -->
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">

        <div id="canvas-tools" class="panel panel-default">

          <div class="panel-heading">
            <div class="panel-title">
              Filtrar objetos detectados
              <span class="info-icon"
                title="Use the slider to adjust the threshold for displaying detected objects. Lowering the threshold displays objects the model is less certain about. If no bounding boxes are displayed, try lowering the threshold.">&#9432;</span>
            </div>
          </div>

          <div class="panel-body">
            <div id="threshold-text">
              <b>Umbral de Probabilidad:</b>
              <span>50</span>%
            </div>
            <input id="threshold-range" type="range" min="0" max="100" value="50" class="slider">
          </div>

        </div>

      </div>

        <!--
      <div class="col-md-3">

        <div id="label-filter" class="panel panel-default">

          <div class="panel-heading">
            <div class="panel-title">
              Labels Found
              <span class="info-icon"
                title="Select a label icon to filter any matching detected objects. Hovering over an icon will highlight any matching objects.">&#9432;</span>
            </div>
          </div>
        
          <div class="panel-body">
            <div id="label-icons"></div>
          </div>
        </div>
      </div>
      -->
    </div>

    <div class="row">

      <div class="col-md-12">

        <div id="image-display"></div>
        <div id="webcam-video"></div>

      </div>

    </div>

    <div class="push"></div>

  </div>

  <div id="footer">
    <hr />
    <p style="float:left">Trabajo desarrollado por el grupo 5 para DIPLOMADO DE ESPECIALIZACIÓN DE 
      DESARROLLO DE APLICACIONES CON INTELIGENCIA ARTIFICIAL</p>
    <p style="float:right">El código esta disponible en <a href="https://gitlab.com/wnina/demo-object-detection"
        target="_blank">GITLAB</a></p>
  </div>

</body>

</html>