<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>FlaskBlog</title>
</head>
<body>
   <h1>PROYECTO FINAL</h1>
   <h2>Python para Ciencia de Datos</h2>
</body>
</html>
