<!DOCTYPE html>

<meta name="robots" content="noindex">
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
  <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet"
    type="text/css" />
  <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
  <meta charset=utf-8 />
  <title>Servicio de Object Detection</title>
  <style>
    article,
    aside,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
      display: block;
    }
  </style>
</head>

<body>
  <h1>PROYECTO FINAL</h1>
  <h2>Python para Ciencia de Datos</h2>

  <form  method="POST" action="http://104.154.250.136:5000/predict">
    <div id="selection-image">
      <input type='file' onchange="readURL(this);" /><br>
    </div>
    <div id="show-image">
      <img id="blah" src="#" alt="" />
    </div>
    <div id="detect-object">
      <input id="my_submit" type="submit" value="detectar">
    </div>  
  </form>

  <script id="jsbin-javascript">
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $('#blah')
            .attr('src', e.target.result)
            .width(600)
        };
        reader.readAsDataURL(input.files[0]);
      }
    }
  </script>
</body>
<footer>
  Desarrollo por el grupo X
</footer>
</html>